<footer class="container-fluid" style="background-color: #f8f9fa">
        <br>
        <div class="row">
            <div class="col-lg-3" style="text-align: center">
                <h6>Copyright &copy; 2018</h6>
                <h6>송윤재 (Yoonjae Song)</h6>
            </div>
            <div class="col-lg-4">
                <h5>대표자 소개</h5>
                <p>아직 할줄 아는 것은 없습니다. 일단 Bootstrap으로 게시판을 만들어 푸드트럭관련된 프로젝트를 하나 만들려고 합니다.</p>
            </div>
            <div class="col-lg-2">
                <h6 style="text-align: center">SNS</h6>
                <div class="list-group">
                    <a href="https://www.facebook.com/" class="list-group-item">
                        <i class="fab fa-facebook"></i>&nbsp;&nbsp;facebook</a>
                    <a href="https://www.instagram.com/?hl=ko" class="list-group-item">
                        <i class="fab fa-instagram"></i>&nbsp;&nbsp;Instargram</a>
                    <a href="https://twitter.com/?lang=ko" class="list-group-item">
                        <i class="fab fa-twitter-square"></i>&nbsp;&nbsp;twitter</a>
                </div>
            </div>
            <div class="col-lg-2">
                <h5 style="text-align: center">chowHR1231</h5>
            </div>
        </div>
        <br>
    </footer>