<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

  <!-- fontawesome ICON -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/coding.css">

  <!-- Jquery&AJAX -->  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    
  <title>Init Page</title>
</head>

<body>
  <!-- 내비게이션 바 영역 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:3000">붕붕이</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3000">소개
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">개발자</a>
          </li>
          <li class=" nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true"
              aria-expanded="false">컨텐츠
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="nav-link" href="#">위치</a>
              </li>
              <li>
                <a class="nav-link" href="#">리뷰</a>
              </li>
              <li>
                <a class="nav-link" href="/board/1">문의</a>
              </li>
            </ul>
          </li>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="내용을 입력하세요" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">검색</button>
          </form>
        </ul>
        <ul class="navbar-nav nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navbarDropdownLogin" role="button" aria-haspopup="true"
              aria-expanded="false">접속하기
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownLogin">
              <li>
                <a class="nav-link disabled" href="#">로그인</a>
              </li>
              <li>
                <a class="nav-link disabled" href="#">회원가입</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!--footer 영역-->
  <footer class="container-fluid" style="background-color: #f8f9fa">
    <br>
    <div class="row">
      <div class="col-lg-3" style="text-align: center">
        <h6>Copyright &copy; 2018</h6>
        <h6>송윤재 (Yoonjae Song)</h6>
      </div>
      <div class="col-lg-4">
        <h5>대표자 소개</h5>
        <p>아직 할줄 아는 것은 없습니다. 일단 Bootstrap으로 게시판을 만들어 푸드트럭관련된 프로젝트를 하나 만들려고 합니다.</p>
      </div>
      <div class="col-lg-2">
        <h6 style="text-align: center">SNS</h6>
        <div class="list-group">
          <a href="https://www.facebook.com/" class="list-group-item">
            <i class="fab fa-facebook"></i>&nbsp;&nbsp;facebook</a>
          <a href="https://www.instagram.com/?hl=ko" class="list-group-item">
            <i class="fab fa-instagram"></i>&nbsp;&nbsp;Instargram</a>
          <a href="https://twitter.com/?lang=ko" class="list-group-item">
            <i class="fab fa-twitter-square"></i>&nbsp;&nbsp;twitter</a>
        </div>
      </div>
      <div class="col-lg-2">
        <h5 style="text-align: center">chowHR1231</h5>
      </div>
    </div>
    <br>
  </footer>

  <!-- Optional JavaScript -->
  <!-- Popper.js first, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>